# Python & Virtual environment
__pycache__/
*.py[cod]
venv/
.env

# Datasets & Weights (Files quá nặng)
dataset/
layoutlmv3-medical/
layoutlmv3-medical-finetuned/
layoutlmv3-medical-finetuned_backup*/
runs/
*.bin
*.pt
*.pth
*.pkl
*.rar
*.zip

# Logs
logs/

# System
.DS_Store
.vscode/
.idea/